<div class="glass-block {{#if animate}}wow animate__animated {{animate}}{{/if}}" {{#if delay}}data-wow-delay="{{delay}}"{{/if}} data-wow-duration="1s" {{#if borderRadius}}style="border-radius: {{borderRadius}}"{{/if}}>
    {{> @partial-block }}
</div>
