<script>
    window.addEventListener('DOMContentLoaded', () => {
        const navbar = $('.navbar')
        window.addEventListener('scroll', () => {
            if (pageYOffset > 300) navbar.addClass('navbar_scroll')
            else navbar.removeClass('navbar_scroll')
        })
    })
</script>
<nav class="navbar">
    {{#> ../wrapper/index }}
        <div class="navbar__container">
            <div class="navbar__logo">
                {{> ../logo/index}}
            </div>
            <div class="navbar__menu">
                <ul>
                    <li class="navbar__link"><a href="#tool-calendar">Календарь</a></li>
                    <li class="navbar__link"><a href="#tool-helper">Помощник</a></li>
                    <li class="navbar__link"><a href="#tool-chat">Чат</a></li>
                    <li class="navbar__link"><a href="#tool-tg">Канал</a></li>
                    <li class="navbar__link"><a href="#tool-book">База знаний</a></li>
                    <li class="navbar__link"><a href="#tool-invest">Инвест фонд</a></li>
                    <li class="navbar__link"><a href="#tool-ama">АМА-сессии</a></li>
                    <li class="navbar__button">
                        <div>
                            {{> ../main-button/index fontSize=13 notAnimate=true text="Оформить" url="#form"}}
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    {{/ ../wrapper/index}}
</nav>
