<div class="navbar">
    {{#> ../wrapper/index }}
        <div class="navbar__container">
            <div class="navbar__logo">
                {{> ../logo/index}}
            </div>
            <div class="navbar__menu">
                <ul>
                    <li><a href="#">Календарь</a></li>
                    <li><a href="#">Помощник</a></li>
                    <li><a href="#">Чат</a></li>
                    <li><a href="#">Канал</a></li>
                    <li><a href="#">База знаний</a></li>
                    <li><a href="#">Инвест фонд</a></li>
                    <li><a href="#">АМА-сессии</a></li>
                    <li>
                        {{> ../main-button/index text="Оформить" width=88 height=28 fontSize=12 url="#"}}
                    </li>
                </ul>
            </div>
        </div>
    {{/ ../wrapper/index}}
</div>
