<nav class="navbar">
    {{#> ../wrapper/index }}
        <div class="navbar__container">
            <div class="navbar__logo">
                {{> ../logo/index}}
            </div>
            <div class="navbar__menu">
                <ul>
                    <li class="navbar__link"><a href="#">Календарь</a></li>
                    <li class="navbar__link"><a href="#">Помощник</a></li>
                    <li class="navbar__link"><a href="#">Чат</a></li>
                    <li class="navbar__link"><a href="#">Канал</a></li>
                    <li class="navbar__link"><a href="#">База знаний</a></li>
                    <li class="navbar__link"><a href="#">Инвест фонд</a></li>
                    <li class="navbar__link"><a href="#">АМА-сессии</a></li>
                    <li class="navbar__button">
                        <div>
                            {{> ../main-button/index fontSize=13 text="Оформить" url="#"}}
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    {{/ ../wrapper/index}}
</nav>
