{{#> tool-glasses/index}}
    <div class="tool-glasses__calendar">
        <div>
            {{#> glass-block/index borderRadius="20px 20px 8px 20px" animate="animate__fadeInRightShort" delay=".5s"}}
                <div class="tool-glasses__glass">
                    <b>Продажа токенов началась!</b>
                    <p>
                        1. Заходите на сайт www.uniswap.org
                        <br>
                        2. Открываете ссылку...
                    </p>
                    <span>Читать полностью</span>
                </div>
            {{/glass-block/index}}
        </div>
        <div>
            {{#> glass-block/index borderRadius="20px 20px 20px 8px" animate="animate__fadeInRightShort" delay=".4s"}}
                <div class="tool-glasses__glass">
                    <b>AirDrop раздача токенов уже завтра! Как принять участие?</b>
                    <img src="../../../images/emoji-tool-1.png" alt="">
                    <span>Подробнее</span>
                </div>
            {{/glass-block/index}}
        </div>
    </div>
{{/tool-glasses/index}}
