{{#> tool-glasses/index}}
    <div class="tool-glasses__calendar">
        <div>
            {{#> glass-block/index borderRadius="20px 20px 8px 20px" animate="animate__fadeInRightShort" delay=".5s"}}
                <div class="tool-glasses__glass">
                    <b>Продажа токенов началась!</b>
                    <p>
                        1. Заходите на сайт impossible.finance
                        <br>
                        2. Перейдите в раздел...
                    </p>
                    <span style="margin-top: 10px">Читать полностью</span>
                </div>
            {{/glass-block/index}}
        </div>
        <div>
            {{#> glass-block/index borderRadius="20px 20px 20px 8px" animate="animate__fadeInRightShort" delay=".4s"}}
                <div class="tool-glasses__glass">
                    <b>NFT сейл начнется через 1 час!</b>
                    <p>Как принять участие?</p>
                    <img src="../../../images/emoji-tool-1.png" style="width: 47px;height: 48px" alt="">
                    <span>Подробнее</span>
                </div>
            {{/glass-block/index}}
        </div>
    </div>
{{/tool-glasses/index}}
