<div class="we-help-block" id="we-help">
    {{#> wrapper/index}}
        <div class="we-help-block__content">
            {{> tag-block/index text="подписка crypton academy" animate="animate__fadeInUp"}}
            {{> space/index height=31 }}
            {{#> big-text/index size="big" animate="animate__fadeInUp"}}
                Помогаем<br>зарабатывать<br>на криптовалюте.
            {{/big-text/index}}
            {{> space/index height=41 }}
            {{#> accent-text/index animate="animate__fadeInUpMedium"}}
                Мы собрали в одной подписке всё необходимое, чтобы новички смогли получать качественный опыт и
                начать зарабатывать самостоятельно, а профессионалы поднимать свои доходы ещё выше.
                В подписку входят:
                <br>
                <b>календарь событий, личный помощник,<br>чат единомышленников, закрытый канал,<br>база знаний, инвест фонд, AMA-сессии.</b>
                <br>
                И чуточку волшебства.
            {{/accent-text/index}}
        </div>
        {{#> dialogue/index}}
            <div class="right wow animate__backInUp" data-wow-duration="1s">{{> message-block/index isRight=true emoji="../../../images/emoji-1.png" text="«В любых задачах мне помогает личный помощник, не знаю, как я бы разобрался во всем сам!»" name="Максим" tag="Новичок"}}</div>
            <div class="wow animate__backInUp" data-wow-duration="1s">{{> message-block/index text="«Для меня главный инструмент - это календарь. Освободил себе 2-3 часа в день с его помощью.»" name="Александр" tag="Профи"}}</div>
        {{/dialogue/index}}
    {{/wrapper/index}}
    <div class="we-help-block__img">
        {{#> wrapper/index}}
            <div class="we-help-block__img-wrapper">
                <img src="../../../images/we-help-block.png" alt="">
            </div>
        {{/wrapper/index}}
    </div>
</div>
