.we-help-block
  margin-top: 20px
  position: relative

.we-help-block__img
  margin-top: 34px
  display: flex
  place-content: center
  background: linear-gradient(180deg, #FFFFFF 0%, #F7F7FA 100%)
  &-wrapper
    display: flex
    place-items: end

@media (max-width: $widthLaptopM)
  .we-help-block__img
    img
      width: 100%
