<div class="burger-menu">
    <div class="burger-menu__overlay" data-close-burger="true"></div>
    <div class="burger-menu__content">
        <ul>
            <li><a href="#tool-calendar" data-close-burger="true">Календарь</a></li>
            <li><a href="#tool-helper" data-close-burger="true">Помощник</a></li>
            <li><a href="#tool-chat" data-close-burger="true">Чат</a></li>
            <li><a href="#tool-tg" data-close-burger="true">Канал</a></li>
            <li><a href="#tool-book" data-close-burger="true">База знаний</a></li>
            <li><a href="#tool-invest" data-close-burger="true">Инвест фонд</a></li>
            <li><a href="#tool-ama" data-close-burger="true">АМА-сессии</a></li>
        </ul>
        <div class="burger-menu__close" data-close-burger="true">
            <span></span>
            <span></span>
        </div>
    </div>
</div>
