<div class="tools-block">
    {{> tag-block/index text="crypton academy" }}
    {{> space/index height=15 }}
    {{#> big-text/index size="medium"}}
        Мощные инструменты подписки
        <br>
        Crypton Academy.
    {{/big-text/index}}
    {{#> tool/index
        tagText="календарь"
        tagColor="#DD0D18"
        bigText="Умный календарь событий работает за вас и экономит ваше время."
        buttonText="Подробнее"
        buttonOpenWindowID="calendar"
        accentText="Получайте уведомления о предстоящих токен-сейлах и других событиях криптосферы. Весь поиск мы берём на себя — вам остаётся только использовать полученную информацию."
        image="../../../images/tool-1.png"
        anchor="tool-calendar"
    }}
        {{> tool-glasses-calendar/index}}
    {{/tool/index}}
    {{#> tool/index
        tagText="помощник"
        tagColor="#FF5E00"
        bigText="Каждый участник подписки получает личного помощника."
        buttonText="Начать"
        buttonOpenWindowID="form"
        accentText="Опытный помощник быстро ответит на ваше сообщение и решит все проблемы в мире крипты. От зависшей транзакции, до вывода денег и покупки первой криптовалюты."
        image="../../../images/tool-2.png"
        anchor="tool-helper"
        right="-50px"
    }}
        {{>tool-glasses-helper/index}}
    {{/tool/index}}
    {{#> tool/index
        tagText="чат"
        tagColor="#53DE5D"
        bigText="Увлекательный чат единомышленников и карьерный рост."
        buttonText="Подробнее"
        buttonOpenWindowID="chat"
        accentText="В чате более 900 человек, которые готовы инвестировать в своё развитие и стремятся зарабатывать больше. За активную деятельность есть возможность попасть в команду Crypton и получить работу мечты."
        image="../../../images/tool-3.png"
        anchor="tool-chat"
        right="-50px"
    }}
        {{>tool-glasses-chat/index}}
    {{/tool/index}}
    {{#> tool/index
        tagText="канал"
        tagColor="#30B3EB"
        bigText="Закрытый Telegram канал Crypton Academy."
        buttonText="Подробнее"
        buttonOpenWindowID="channel"
        accentText="В канале публикуется весь обучающий материал академии: статьи, подкасты, сводки событий, обзоры проектов и актуальных тем, выжимка из чата и DeFi/NFT сводки."
        image="../../../images/tool-4.png"
        anchor="tool-tg"
        right="-50px"
    }}
        {{> tool-glasses-channel/index}}
    {{/tool/index}}
    {{#> tool/index
        tagText="база знаний"
        tagColor="#F3BA2F"
        bigText="Огромная и уникальная база знаний."
        buttonText="Подробнее"
        buttonOpenWindowID="book"
        accentText="Изучайте различные криптовалюты и блокчейны, получайте подробные туториалы и гайды по биржам, узнавайте как работают криптопроекты и какую пользу они могут вам дать. Весь обучающий материал подаётся в формате постов, статей и подкастов."
        image="../../../images/tool-5.png"
        anchor="tool-book"
        right="-150px"
    }}
        {{> tool-glasses-book/index}}
    {{/tool/index}}
    {{#> tool/index
        tagText="инвест фонд"
        tagColor="#7553ED"
        bigText="Crypton Academy инвестирует за вас."
        buttonText="Подробнее"
        buttonOpenWindowID="invest"
        accentText="10% от всех средств, которыми вы оплачиваете подписку Crypton Academy, отправляются в инвестиционный фонд. Вся прибыль с этих инвестиций закрепляются за аккаунтом подписчика."
        image="../../../images/tool-6.png"
        anchor="tool-invest"
        right="0"
    }}
        {{> tool-glasses-invest/index}}
    {{/tool/index}}
    {{#> tool/index
        tagText="АМА-сессии"
        bigText="Раз в 2 недели."
        buttonText="Начать"
        buttonOpenWindowID="form"
        accentText="AMA-сессии  (вопрос ответ) проходят с Павлом Сычевым, создателем Crypton, автором блога TradeParty и YouTube канала EnjoyMaloy. Павел ответит на вопросы каждого участника академии и даст свои рекомендации в той или иной ситуации."
        image="../../../images/tool-7.png"
        anchor="tool-ama"
        right="-110px"
    }}
        {{> tool-glasses-ama/index}}
    {{/tool/index}}
</div>
