<div class="features">
    {{#> big-text/index size="medium"}}
        Потрясающая подписка
        <br>
        Crypton Academy.
    {{/big-text/index}}
    {{> space/index height=40 }}
    {{#> accent-text/index }}
        С Crypton Academy вы приобретаете не только весь функционал единой подписки, но и целый океан времени, который освободится благодаря нашим продуктам. Опытные эксперты Crypton Academy будут проводить исследования и заниматься аналитикой проектов, находить и давать ответы на вопросы.
        А Telegram-бот будет уведомлять о токен сейлах
        и других важных событиях криптосферы.
        <br>
        <b>Все инструкции, обзоры и туториалы собраны в 1 месте.</b>
    {{/accent-text/index}}
    <div class="features__list">
        {{> feature/index
            isRight=true
            image="../../../images/telegram.png"
            title="На любом устройстве."
            text="Мы работаем через Telegram канал и бота, поэтому доступ ко всей информации становится очень простым и удобным. Всё в вашем мессенджере."
        }}
        {{> feature/index
            image="../../../images/files.png"
            title="Удобная навигация."
            text="На сайте академии и внутри телеграм канала создана удобная навигация, через которую вы найдёте информацию по любому интересующему вами вопросу и продукту."
        }}
        {{> feature/index
            isRight=true
            image="../../../images/instruction.png"
            title="Понятные инструкции."
            text="С каждой публикацией мы даём чёткие инструкции, с которыми справится даже новичок. Осваивайте проекты любой сложности,  которые подкрепляются нашей базой знаний."
        }}
    </div>
</div>
