<div class="features">
    {{#> big-text/index size="medium"}}
        Потрясающая подписка
        <br>
        Crypton Academy.
    {{/big-text/index}}
    {{> space/index height=40 }}
    {{#> accent-text/index }}
        С Crypton Academy вы приобретаете не только весь функционал единой подписки, но и получаете много свободного времени, которое освободится благодаря нашим продуктам. Больше не нужно следить за разными проектами самостоятельно, опытные эксперты Crypton Academy будут проводить исследования и заниматься аналитикой проектов, находить и давать ответы на вопросы. А бот-календарь будет уведомлять о токен сейлах и других важных событиях криптосферы.
        <br>
        <b>Все инструкции, обзоры и важные новости собраны в одном месте.</b>
    {{/accent-text/index}}
    <div class="features__list">
        {{> feature/index
            isRight=true
            image="../../../images/telegram.png"
            title="На любом устройстве."
            text="Для максимального удобства мы ведем работу через Telegram, поэтому доступ ко всей информации становится очень быстрым и привычным. Всё в вашем мессенджере."
        }}
        {{> feature/index
            image="../../../images/files.png"
            title="Удобная навигация."
            text="Помимо Telegram, у нас есть сайт академии со всей базой знаний и удобной навигацией, через которую вы найдёте информацию по любому интересующему вами вопросу и проекту."
        }}
        {{> feature/index
            isRight=true
            image="../../../images/instruction.png"
            title="Понятные инструкции."
            text="С каждой публикацией мы даём чёткие инструкции, с которыми справится даже новичок. Осваивайте проекты любой сложности, которые подкрепляются нашей базой знаний. А если останутся вопросы, то вам всегда поможет личный помощник."
        }}
    </div>
</div>
