<div class="review">
    <div class="review__user">
        <div class="review__user-avatar">
            <img src="{{userAvatar}}" alt="">
        </div>
        <div class="review__user-info">
            <span class="review__user-name">{{userName}}</span>
            <span class="review__user-tag">{{userTag}}</span>
        </div>
        <div class="review__controller">
            <div class="review__controller-left" data-slick-controller="left">
                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="20" viewBox="0 0 12 20" fill="none">
                    <path d="M0.289062 10.2441C0.289062 10.6846 0.450195 11.0498 0.804688 11.3936L9.07617 19.4824C9.34473 19.7617 9.68848 19.9014 10.0859 19.9014C10.8916 19.9014 11.5361 19.2568 11.5361 18.4512C11.5361 18.043 11.375 17.6885 11.085 17.3984L3.7373 10.2334L11.085 3.08984C11.375 2.7998 11.5361 2.43457 11.5361 2.03711C11.5361 1.23145 10.8916 0.597656 10.0859 0.597656C9.67773 0.597656 9.34473 0.726562 9.07617 1.00586L0.804688 9.09473C0.450195 9.43848 0.299805 9.80371 0.289062 10.2441Z" fill="black"/>
                </svg>
            </div>
            <div class="review__controller-right" data-slick-controller="right">
                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="20" viewBox="0 0 12 20" fill="none">
                    <path d="M11.4365 10.2441C11.4365 9.80371 11.2754 9.43848 10.9316 9.09473L2.66016 1.00586C2.38086 0.726562 2.04785 0.597656 1.65039 0.597656C0.844727 0.597656 0.189453 1.23145 0.189453 2.03711C0.189453 2.43457 0.361328 2.7998 0.651367 3.08984L7.99902 10.2334L0.651367 17.3984C0.361328 17.6885 0.189453 18.043 0.189453 18.4512C0.189453 19.2568 0.844727 19.9014 1.65039 19.9014C2.04785 19.9014 2.38086 19.7617 2.66016 19.4824L10.9316 11.3936C11.2861 11.0498 11.4365 10.6846 11.4365 10.2441Z" fill="black"/>
                </svg>
            </div>
        </div>
    </div>
    <div class="review__text">
        <p>
            {{text}}
        </p>
    </div>
</div>
