<div class="wonders">
    {{> tag-block/index text="crypton academy" animate="animate__fadeInRight"}}
    {{> space/index height=22 }}
    {{#> big-text/index size="large" animate="animate__fadeInRight"}}
        Чудеса для ваших
        <br>превосходных
        <br>заработков.
    {{/big-text/index}}
    {{> space/index height=35 }}
    {{#> accent-text/index animate="animate__fadeInRight"}}
        Чтобы вы смогли значительно облегчить свою жизнь и увеличивать заработки на криптовалюте —
        10 высококлассных профессионалов компании Crypton потратили более 16 месяцев плодотворной работы для создания удивительных инструментов.
        И постоянно продолжают над ними работать. Основная миссия Crypton — сделать мир криптовалюты простым и понятным, чтобы каждый смог обогащаться на криптоактивах.
        <br>
        И так, какие
        <b>7 чудес света ждут вас:</b>
    {{/accent-text/index}}
    <div class="wonders__list">
        {{> wonder/index delay="0s" image="../../../images/calendar-icon.png" titleColor="#DD0D18" title="календарь" text="Отобразит лучшие токен сейлы и события крипто мира, а также напомнит об их старте."}}
        {{> wonder/index delay="0.2s" image="../../../images/helper-icon.png" titleColor="#FF5E00" title="помощник" text="Быстро решит любые вопросы, касающиеся криптовалюты."}}
        {{> wonder/index delay="0.4s" image="../../../images/chat-icon.png" titleColor="#53DE5D" title="чат" text="Более 1000 участников подписки и возможность попасть в команду Crypton."}}
        {{> wonder/index delay="0s" image="../../../images/tg-icon.png" titleColor="#30B3EB" title="канал" text="Разборы, аналитика проектов, токен сейлы, NFT, выгодные фарминги и стейкинги."}}
        {{> wonder/index delay="0.2s" image="../../../images/book-icon.png" titleColor="#F3BA2F" title="база знаний" text="Криптовалюты, блокчейны, туториалы и гайды, биржи, инструкции по криптопроектам."}}
        {{> wonder/index delay="0.4s" image="../../../images/trend-icon.png" titleColor="#7553ED" title="инвест фонд" text="10% от вашей оплаты идёт в инвест фонд и закрепляется лично за вами."}}
        {{> wonder/index delay="0s" image="../../../images/ama-icon.png" titleColor="#000" title="ама-сессии" text="Каждые 2 недели AMA-сессии (вопрос ответ) с создателем Crypton Павлом Сычевым."}}
    </div>
</div>
