<div class="wonders">
    {{> tag-block/index text="crypton academy" animate="animate__fadeInRight"}}
    {{> space/index height=22 }}
    {{#> big-text/index size="large" animate="animate__fadeInRight"}}
        Crypton - главный помощник
        <br>в криптовалюте.
    {{/big-text/index}}
    {{> space/index height=35 }}
    {{#> accent-text/index animate="animate__fadeInRight"}}
        Наша основная задача - сэкономить ваше время и помочь увеличить капитал. Новичкам не придется самостоятельно искать информацию и "набивать шишки", а опытные пользователи смогут не тратить время на анализ и слежку за разными проектами - всё это на себя берет опытная команда Crypton.
        Более 30 участников команды день за днем следят за крипто-рынком и его событиями, а вам остается лишь использовать функционал академии на максимум, как это делают более 900 участников!
        <br>
        <b>Инструменты академии коротко и понятно:</b>
    {{/accent-text/index}}
    <div class="wonders__list">
        {{> wonder/index delay="0s" image="../../../images/calendar-icon.png" titleColor="#DD0D18" title="календарь" text="Оповещает и напоминает о важнейших токен сейлах и событиях крипто мира, а также позволяет добавлять свои личные задачи с напоминанием."}}
        {{> wonder/index delay="0.2s" image="../../../images/helper-icon.png" titleColor="#FF5E00" title="помощник" text="Быстро решит любые вопросы, касающиеся криптовалюты. Это не просто помощь по продуктам академии - это помощь по всему миру криптовалют."}}
        {{> wonder/index delay="0.4s" image="../../../images/chat-icon.png" titleColor="#53DE5D" title="чат" text='Более 900 участников из новичков и опытных пользователей. Каждый день мы делаем "выжимку" самых главных событий, обсуждаемых в чате.'}}
        {{> wonder/index delay="0s" image="../../../images/tg-icon.png" titleColor="#30B3EB" title="канал" text="Подробная аналитика проектов, токен сейлов, NFT рынка, выгодных фарминг и стейкинг пулов, а также разбор самых актуальных криптовалютных тем."}}
        {{> wonder/index delay="0.2s" image="../../../images/book-icon.png" titleColor="#F3BA2F" title="база знаний" text="Криптовалютные монеты, блокчейны, биржи, обменники, туториалы и гайды, инструкции и описание крипто-проектов."}}
        {{> wonder/index delay="0.4s" image="../../../images/trend-icon.png" titleColor="#7553ED" title="инвест фонд" text="10% от цены каждого месяца подписки отправляются в ваш личный фонд и формируют пассивный портфель."}}
        {{> wonder/index delay="0s" image="../../../images/ama-icon.png" titleColor="#000" title="ама-сессии" text="Каждые 2 недели AMA-сессии (вопрос ответ) с создателем Crypton Павлом Сычевым."}}
    </div>
</div>
