.wonders
  margin-top: 200px
  >.big-text
    font-size: 64px

.wonders__list
  margin-top: 40px
  display: grid
  grid-template-columns: 1fr 1fr 1fr
  grid-column-gap: 43px
  grid-row-gap: 100px

@media (max-width: $widthLaptopM)
  .wonders__list
    grid-template-columns: 1fr 1fr

@media (max-width: $widthTabletM)
  .wonders
    >.big-text
      font-size: 54px
    >.accent-text
      font-size: 24px

  .wonders__list
    grid-column-gap: 20px
    grid-row-gap: 50px

@media (max-width: $widthMobileB)
  .wonders
    margin-top: 100px
    >.big-text
      font-size: 44px
    >.accent-text
      font-size: 22px

  .wonders__list
    grid-template-columns: 1fr

@media (max-width: $widthMobileM)
  .wonders
    >.big-text
      font-size: 34px
    >.accent-text
      font-size: 18px
