{{#> tool-glasses/index}}
    <div class="tool-glasses__book">
        <div>
            {{#> glass-block/index borderRadius="20px 20px 8px 20px"}}
                <div class="tool-glasses__glass">
                    <b>Как выгодно вывести средства на Binance.</b>
                    <p style="margin-top: 0">
                        Подробный обзор кабинета
                        и способов вывода
                        с минимальной комиссией...
                    </p>
                    <span>Подробнее</span>
                </div>
            {{/glass-block/index}}
        </div>
    </div>
{{/tool-glasses/index}}
