<div class="window-tool-block-footer">
    {{#> wrapper/index}}
        <div class="window-tool-block-footer__content">
            {{> tag-block/index text="crypton academy" notAnimate=true}}
            {{> space/index height=20 }}
            {{#> big-text/index size="medium" notAnimate=true}}
                Выгодные пакеты
                <br>
                для каждого.
            {{/big-text/index}}
            {{> space/index height=24 }}
            <div class="window-tool-block-footer__text">
                {{#> accent-text/index notAnimate=true}}
                    Всё включено в единую подписку.
                    <br>
                    Выберите пакет на год — получите больше выгоды.
                {{/accent-text/index}}
            </div>
            {{> space/index height=32 }}
            <div class="window-tool-block-footer__button">
                <div>
                    {{> main-button/index text="Оформить Crypton Academy" openWindowID="form" fullWidth=true notAnimate=true}}
                </div>
            </div>
        </div>
    {{/wrapper/index}}
</div>
