.window-tool
  width: 100%
  display: flex
  place-content: space-between
  place-items: flex-end

.window-tool__content
  padding-bottom: 60px
  padding-right: 10px
  >div
    max-width: 428px
    >b
      display: block
      font-size: 15px
      letter-spacing: 0.04em
      text-transform: uppercase
    >p
      margin-top: 18px
      font-weight: 600
      font-size: 26px
      line-height: 130%

.window-tool__img
  position: relative
  display: flex
  place-items: center
  >img
    max-width: 550px
    max-height: 550px
  .glass-block
    visibility: visible !important
    box-shadow: 0 32px 40px rgba(0, 0, 0, .1)

@media (max-width: $widthLaptopL)
  .window-tool__img
    >img
      max-width: 450px
      max-height: 450px
    >div
      transform: scale(.8)

@media (max-width: $widthLaptopM)
  .window-tool__content
    >div
      >p
        font-size: 20px

@media (max-width: $widthTabletL)
  .window-tool
    flex-direction: column
    place-items: center

@media (max-width: $widthMobileB)
  .window-tool__img
    >img
      width: 100%
