<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8"/>
    <title>{{ htmlWebpackPlugin.options.title }}</title>
</head>
<body>
    {{> navbar/index}}
    {{#> wrapper/index}}
        {{> main-block/index }}
    {{/ wrapper/index}}
    {{> we-help-block/index }}
    {{> force-block/index }}
    {{#> wrapper/index}}
        {{> tools-block/index}}
    {{/wrapper/index}}
    {{> form/index}}
    {{#> wrapper/index}}
        {{> reviews/index}}
    {{/wrapper/index}}
    {{> ref-block/index}}
    {{#> wrapper/index}}
        {{> features/index}}
        {{> wonders/index}}
        {{> end-block/index}}
    {{/wrapper/index}}
    {{> footer/index}}

    {{#> window/index windowID="form" backgroundColor="#f7f7fa"}}
        {{> form/index inWindow=true}}
    {{/window/index}}
</body>
</html>
