<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8"/>
    <title>{{ htmlWebpackPlugin.options.title }}</title>
</head>
<body>
    {{> navbar/index}}
    {{#> wrapper/index}}
        {{> main-block/index }}
    {{/ wrapper/index}}
    {{> we-help-block/index }}
    {{> force-block/index }}
    {{#> wrapper/index}}
        {{> tools-block/index}}
    {{/wrapper/index}}
    {{> form/index}}
    {{#> wrapper/index}}
        {{> reviews/index}}
    {{/wrapper/index}}
    {{> ref-block/index}}
    {{#> wrapper/index}}
        {{> features/index}}
        {{> wonders/index}}
        {{> end-block/index}}
    {{/wrapper/index}}
    {{> footer/index}}

    {{#> window/index windowID="form" backgroundColor="#f7f7fa"}}
        {{> form/index inWindow=true}}
    {{/window/index}}
    {{#> window/index windowID="calendar" tag="Календарь" tagColor="#DD0D18"}}
        {{#> window-tool/index tag="календарь" tagColor="#DD0D18" image="../images/tool-1.png" text="Мы собираем и отображаем в календаре все события криптосферы. Настройте уведомления и наслаждайтесь свободным временем."}}
            {{> tool-glasses-calendar/index }}
        {{/window-tool/index}}
    {{/window/index}}
    {{#> window/index windowID="chat" tag="Чат" tagColor="#53DE5D"}}
        {{#> window-tool/index tag="чат" tagColor="#53DE5D" image="../images/tool-3.png" text="Общайтесь с более чем 650 человек единомышленников. За свою активность вы можете попасть в команду Crypton и получить полноценную работу мечты."}}
            {{> tool-glasses-chat/index }}
        {{/window-tool/index}}
    {{/window/index}}
    {{#> window/index windowID="channel" tag="Канал" tagColor="#30B3EB"}}
        test
    {{/window/index}}
    {{#> window/index windowID="book" tag="База знаний" tagColor="#F3BA2F"}}
        test
    {{/window/index}}
    {{#> window/index windowID="invest" tag="Инвест фонд" tagColor="#7553ED"}}
        test
    {{/window/index}}
</body>
</html>
