{{#> tool-glasses/index}}
    <div class="tool-glasses__helper">
        <div>
            {{#> glass-block/index borderRadius="20px 20px 8px 20px" animate="animate__fadeInRightShort" delay=".5s"}}
                <div class="tool-glasses__glass">
                    <p>
                        12:19
                        <br>
                        Добрый день! Сейчас всё решим :) Где вы пытаетесь совершить транзакцию?)
                    </p>
                    <img src="../../../images/icon-glasses-2.png" alt="">
                </div>
            {{/glass-block/index}}
        </div>
        <div>
            {{#> glass-block/index borderRadius="20px 20px 20px 8px" animate="animate__fadeInRightShort" delay=".4s"}}
                <div class="tool-glasses__glass">
                    <p>
                        12:15
                        <br>
                        Помогите! Не могу перевести свои токены, выдаёт ошибку. Что делать?
                    </p>
                    <img src="../../../images/icon-glasses-3.png" alt="">
                </div>
            {{/glass-block/index}}
        </div>
    </div>
{{/tool-glasses/index}}
