<div class="main-block">
    <img src="../../../images/image-block-1.png" alt="">
    <div class="main-block__content">
        {{> tag-block/index text="crypton academy" }}
        {{> space/index height=15 }}
        {{#> big-text/index fontSize=40 lineHeight="120%" }}
            Ваш спутник<br>и навигатор<br>в мире крипты.
        {{/ big-text/index}}
        {{> space/index height=24 }}
        {{> main-button/index text="Подробнее" width=136 height=44 url="#" }}
    </div>
</div>
