<div class="main-block">
    <div class="main-block__img">
        <img src="../../../images/main-block-1.png" alt="" class="main-block__img-1 wow animate__fadeInUpShort" data-wow-duration="1s">
        <img src="../../../images/main-block-2.png" alt="" class="main-block__img-2 wow animate__animated animate__fadeInUpShort" data-wow-duration="1s" data-wow-delay="1s">
        <img src="../../../images/main-block-3.png" alt="" class="main-block__img-3 wow animate__animated animate__fadeInUpShort" data-wow-duration="1s" data-wow-delay="1.1s">
        <img src="../../../images/main-block-4.png" alt="" class="main-block__img-4 wow animate__animated animate__fadeInUpShort" data-wow-duration="1s" data-wow-delay="1.4s">
        <img src="../../../images/main-block-5.png" alt="" class="main-block__img-5 wow animate__animated animate__fadeInUpShort" data-wow-duration="1s" data-wow-delay="1.3s">
    </div>
    <div class="main-block__content">
        {{> tag-block/index text="crypton academy" }}
        {{> space/index height=15 }}
        {{#> big-text/index size="small"}}
            Ваш спутник<br>и навигатор<br>в мире крипты.
        {{/big-text/index}}
        {{> space/index height=24 }}
        {{> main-button/index text="Подробнее" url="#we-help" }}
    </div>
    <div class="main-block__tg" >
        {{#> glass-block/index animate="animate__animated animate__fadeInRightShort" delay="1.4s"}}
            <div class="main-block__tg-content">
                <div>
                    <img src="../../../images/telegram-icon.png" alt="">
                </div>
                <div>
                    <div><span>Crypton Academy</span><span>Сейчас</span></div>
                    <p>Старт токен-сейла через <br>15 минут! Инструкция:</p>
                </div>
            </div>
        {{/glass-block/index}}
    </div>
</div>
