.main-block
  height: 827px
  display: flex
  place-items: center
  >img
    width: 975.23px
    height: 854.23px
    position: absolute
    right: 0
    top: 0
    z-index: 0

.main-block__tg
  position: absolute
  right: 78px
  z-index: 1
  &-content
    width: 297px
    display: grid
    grid-template-columns: 53px auto
    grid-gap: 14px
    >div:first-child
      display: flex
      place-items: center
      >img
        border-radius: 10px
    >div:last-child
      font-size: 17px
      line-height: 135%
      >div
        position: relative
        >span:first-child
          font-weight: 600
        >span:last-child
          font-size: 13px
          opacity: .3
          letter-spacing: 0.03em
          position: absolute
          right: 0
          top: 0


.main-block__content
  z-index: 1

@media (max-width: $widthLaptopB)
  .main-block
    >img
      right: -60px

@media (max-width: $widthLaptopL)
  .main-block
    height: 790px
    >img
      width: 900px
      height: 788px
      top: 35px
      right: -100px
  .main-block__tg
    margin-top: 200px

@media (max-width: $widthLaptopM)
  .main-block
    >img
      width: 800px
      height: 701px
      top: 60px
      right: -130px

@media (max-width: $widthTabletL)
  .main-block
    height: 700px
    >img
      width: 700px
      height: 613px
      top: 60px
      right: -150px
  .main-block__tg
    right: 10px
    margin-top: 250px

@media (max-width: $widthTabletM)
  .main-block
    height: 630px
    >img
      top: 40px
      right: -230px

@media (max-width: $widthTabletS)
  .main-block
    >img
      right: -275px

@media (max-width: $widthMobileB)
  .main-block
    >img
      right: -335px
  .main-block__tg
    margin-top: 400px

@media (max-width: $widthMobileL)
  .main-block
    >img
      top: 30px
      right: -385px

@media (max-width: $widthMobileM)
  .main-block
    >img
      top: 20px
      right: -415px
  .main-block__tg
    right: 10px
    left: 10px
    &-content
      >div:last-child
        >div
          >span:last-child
            right: 25px
            top: 0
