<div class="logo">
    <svg xmlns="http://www.w3.org/2000/svg" width="28" height="32" viewBox="0 0 28 32" fill="none">
        <path d="M14 32.0004C21.2104 32.0004 27.053 26.1524 27.053 18.9398C27.053 14.9375 25.2545 11.3574 22.4236 8.96191V13.1933C22.4236 18.1577 17.2028 18.39 17.2028 18.39C17.2028 18.39 17.2028 13.4187 17.2028 12.9344C17.2028 12.2281 17.3511 8.96477 14.0007 8.96477C10.8476 8.96477 10.8384 12.1783 10.8384 12.9344C10.8384 13.6905 10.8384 17.801 10.8384 17.801C10.8384 22.7654 5.54348 22.9977 5.54348 22.9977V8.98809C2.73232 11.3836 0.946983 14.9539 0.946983 18.9365C0.950272 26.1524 6.79288 32.0004 14 32.0004Z" fill="black"/>
        <path d="M14.0001 6.02375C12.3367 6.02375 10.9882 4.67529 10.9882 3.01187C10.9882 1.34846 12.3367 0 14.0001 0C15.6635 0 17.012 1.34846 17.012 3.01187C17.012 4.67529 15.6635 6.02375 14.0001 6.02375Z" fill="black"/>
    </svg>
    <span>Crypton Academy</span>
</div>
