{{#> tool-glasses/index}}
    <div class="tool-glasses__channel">
        <div>
            {{#> glass-block/index borderRadius="20px 20px 20px 8px" animate="animate__fadeInRightShort" delay=".4s"}}
                <div class="tool-glasses__glass">
                    <img src="../../../images/icon-glasses-6.png" alt="">
                    <p style="margin-top: 0">
                        Добрый день! Свежая сводка событий уже доступна к прочтению.
                    </p>
                    <p>Не пропустите сейл на...</p>
                    <span>Подробнее</span>
                </div>
            {{/glass-block/index}}
        </div>
    </div>
{{/tool-glasses/index}}
