{{#> tool-glasses/index}}
    <div class="tool-glasses__channel">
        <div>
            {{#> glass-block/index borderRadius="20px 20px 20px 8px"}}
                <div class="tool-glasses__glass">
                    <b>Горячие NFT от mbsjq!</b>
                    <img src="../../../images/icon-glasses-6.png" alt="">
                    <p>
                        Всего 200 штук!!! Уже продано 52. Налетаем пока не раскупили!
                    </p>
                </div>
            {{/glass-block/index}}
        </div>
    </div>
{{/tool-glasses/index}}
