<div class="end-block">
    {{> tag-block/index text="новый уровень жизни"  animate="animate__fadeInUp"}}
    {{> space/index height=22 }}
    {{#> big-text/index size="large" animate="animate__fadeInUp"}}
        Начав пользоваться подпиской вы
        открываете для себя совершенно новый мир прибыльности.
    {{/big-text/index}}
    {{> space/index height=32 }}
    {{> main-button/index text="Начать" openWindowID="form" animate="animate__animated animate__fadeInUp" delay=".2s"}}
</div>
