{{#> tool-glasses/index}}
    <div class="tool-glasses__invest">
        <div>
            {{#> glass-block/index borderRadius="20px 20px 20px 8px" animate="animate__fadeInRightShort" delay=".4s"}}
                <div class="tool-glasses__glass">
                    <b>
                        На вашем инвест счёте доступно
                        для вывода 1 764.93$
                    </b>
                    <img src="../../../images/icon-glasses-7.png" alt="">
                    <span>Вывести средства</span>
                </div>
            {{/glass-block/index}}
        </div>
    </div>
{{/tool-glasses/index}}
