<div class="tool" id="{{anchor}}">
    <div class="tool__content">
        {{> tag-block/index text=tagText color=tagColor}}
        {{> space/index height=24 }}
        {{#> big-text/index size="small"}}
            {{bigText}}
        {{/big-text/index}}
        {{> space/index height=24 }}
        {{#> accent-text/index }}
            {{{accentText}}}
        {{/accent-text/index}}
        {{> space/index height=24 }}
        {{> main-button/index text=buttonText url=buttonURL }}
    </div>
    <div class="tool__img" >
        <img src="{{image}}" alt="" class="wow animate__fadeInRight" data-wow-duration="1s">
    </div>
</div>
