.main-button
  background-color: $colorMain
  display: inline-flex
  place-items: center
  place-content: center
  border-radius: 25px
  color: #fff
  letter-spacing: 0.03em
  transition: background-color .2s
  font-size: 17px
  width: 136px
  height: 44px
  max-height: 100%
  max-width: 100%
  cursor: pointer
  &:hover
    background-color: $colorMainLight
  &_full-width
    width: 100%
  &_black
    background-color: #000000
    &:hover
      background-color: #333333
