.animate__fadeInUpShort
  animation-name: fadeInUpShort

@keyframes fadeInUpShort
  from
    opacity: 0
    transform: translate3d(0, 10%, 0)

  to
    opacity: 1
    transform: translate3d(0, 0, 0)


.animate__fadeInUpSmall
  animation-name: fadeInUpSmall

@keyframes fadeInUpSmall
  from
    opacity: 0
    transform: translate3d(0, 20%, 0)

  to
    opacity: 1
    transform: translate3d(0, 0, 0)


.animate__fadeInDownShort
  animation-name: fadeInDownShort

@keyframes fadeInDownShort
  from
    opacity: 0
    transform: translate3d(0, -10%, 0)

  to
    opacity: 1
    transform: translate3d(0, 0, 0)


.animate__fadeInDownSmall
  animation-name: fadeInDownSmall

@keyframes fadeInDownSmall
  from
    opacity: 0
    transform: translate3d(0, -20%, 0)

  to
    opacity: 1
    transform: translate3d(0, 0, 0)


.animate__fadeInRightShort
  animation-name: fadeInRightShort

@keyframes fadeInRightShort
  from
    opacity: 0
    transform: translate3d(30%, 0, 0)
  to
    opacity: 1
    transform: translate3d(0, 0, 0)


.animate__fadeInLeftShort
  animation-name: fadeInLeftShort

@keyframes fadeInLeftShort
  from
    opacity: 0
    transform: translate3d(-50%, 0, 0)
  to
    opacity: 1
    transform: translate3d(0, 0, 0)


.animate__zoomInShort
  animation-name: zoomInShort

@keyframes zoomInShort
  from
    opacity: 0
    transform: scale3d(0.8, 0.8, 0.8)

  50%
    opacity: 1
