@font-face
  font-family: 'Suisse Intl'
  font-weight: bold
  src: url("../../public/fonts/SuisseIntl/SuisseIntl-Bold.woff2") format('woff2')

@font-face
  font-family: 'Suisse Intl'
  font-weight: 900
  src: url("../../public/fonts/SuisseIntl/SuisseIntl-Black.woff2") format('woff2')

@font-face
  font-family: 'Suisse Intl'
  font-weight: 600
  src: url("../../public/fonts/SuisseIntl/SuisseIntl-SemiBold.woff2") format('woff2')

@font-face
  font-family: 'Suisse Intl'
  font-weight: 500
  src: url("../../public/fonts/SuisseIntl/SuisseIntl-Medium.woff2") format('woff2')

@font-face
  font-family: 'Suisse Intl'
  font-weight: 400
  src: url("../../public/fonts/SuisseIntl/SuisseIntl-Regular.woff2") format('woff2')

@font-face
  font-family: 'Suisse Intl'
  font-weight: 300
  src: url("../../public/fonts/SuisseIntl/SuisseIntl-Light.woff2") format('woff2')

@font-face
  font-family: 'Suisse Intl'
  font-weight: 100
  src: url("../../public/fonts/SuisseIntl/SuisseIntl-Thin.woff2") format('woff2')
