@import "vars"
@import "fonts"
//noinspection CssUnknownTarget
@import "../../public/templates/partials/**/*.sass"

*
  padding: 0
  margin: 0
  box-sizing: border-box

body
  font-family: "Suisse Intl", sans-serif
  font-weight: 400
  -webkit-font-smoothing: subpixel-antialiased
  color: #000
  background: #fff

ul
  list-style: none

a
  text-decoration: none
  color: #000

button
  border: none

input
  border: none
  outline: none
  &::placeholder
    color: #999

.gray
  color: #86868B

.color-main
  color: $colorMain

.link
  color: $colorMain
  transition: color .2s
  &:hover
    color: $colorMainLight

.slick-track
  display: flex
