<div class="force-block">
    {{#> wrapper/index}}
        <div class="force-block__content">
            {{> tag-block/index text="подписка crypton academy" }}
            {{> space/index height=18 }}
            {{#> big-text/index size="verybig" }}
                Сила Crypton.
            {{/big-text/index}}
            {{> space/index height=25 }}
            {{#> accent-text/index }}
                <b>Компания Crypton занимается высококачественным обучением в сфере криптовалют.</b>
                Мы снимаем в <a class="link" href="https://www.youtube.com/channel/UCIe1WmAFLTNkKFjJtj8XY8Q">YouTube туториалы</a>, гайды и обзоры, которые сейчас  имеют более 800 тысяч просмотров.
                На социальные сети Crypton в совокупности подписано более 100 тысяч человек.
                <br>
                <b>А ещё мы сотрудничаем с такими гигантами криптосферы как Binance, PancakeSwap, TrustWallet, Crypto.com и не только.</b>
            {{/accent-text/index}}
        </div>
        {{#> dialogue/index}}
            <div>{{> message-block/index emoji="../../../images/emoji-2.png" text="«Crypton впечатляет. Подписка потрясает!»" name="Алексей Довлатов" tag="Новенький"}}</div>
            <div class="right">{{> message-block/index isRight=true text="«Команда Crypton помогает нашим пользователям обращаться с DeFi инструментами, рады сотрудничеству!»" name="" tag="Binance" colorTag="#f3ba2f"}}</div>
        {{/dialogue/index}}
        <div class="force-block__achievements">
            {{> achievement/index img="../../../images/youtube.png" title="Просмотров на YouTube более" quantity="800K"}}
            {{> achievement/index img="../../../images/soc.png" title="Подписчиков в соцсетях более" quantity="100K"}}
        </div>
    {{/wrapper/index}}
</div>
