{{#> tool-glasses/index}}
    <div class="tool-glasses__ama">
        <div>
            {{#> glass-block/index borderRadius="20px 20px 8px 20px" animate="animate__fadeInRightShort" delay=".5s"}}
                <div class="tool-glasses__glass">
                    <img src="../../../images/icon-glasses-8.png" alt="">
                    <p style="margin-top: 0">
                        У Биткоина самая большая капитализация, он просто отдыхает сейчас))
                    </p>
                </div>
            {{/glass-block/index}}
        </div>
        <div>
            {{#> glass-block/index borderRadius="20px 20px 20px 8px" animate="animate__fadeInRightShort" delay=".4s"}}
                <div class="tool-glasses__glass">
                    <img src="../../../images/icon-glasses-9.png" alt="">
                    <p style="margin-top: 0">
                        Чего ожидать от Биткоина? Мы наблюдаем его конец или что это?
                    </p>
                </div>
            {{/glass-block/index}}
        </div>
    </div>
{{/tool-glasses/index}}
