<div class="feature {{#if isRight}}feature_right{{/if}}">
    <div class="feature__image">
        <img src="{{image}}" alt="">
    </div>
    <div class="feature__text">
        <h6>{{title}}</h6>
        <p>{{text}}</p>
    </div>
</div>
