.feature
  //height: 500px
  display: grid
  grid-template-areas: 't i'
  place-items: center
  grid-template-rows: 508px
  &_right
    grid-template-areas: 'i t'

.feature__image
  grid-area: i

.feature__text
  grid-area: t
  max-width: 284px
  height: 100%
  display: flex
  flex-direction: column
  place-content: center
  >h6
    font-weight: 600
    font-size: 28px
    line-height: 32px
    max-width: 270px
  >p
    margin-top: 18px
    font-size: 22px
    line-height: 140%
    color: #86868B

@media (max-width: $widthTabletL)
  .feature
    grid-template-columns: 1fr 1fr
    grid-template-rows: 300px

  .feature__image
    height: 100%
    >img
      height: 100%

@media (max-width: $widthTabletM)
  .feature
    grid-gap: 20px

@media (max-width: $widthTabletS)
  .feature
    grid-gap: 10px
    grid-template-areas: 'i' 't'
    grid-template-columns: 1fr
    grid-template-rows: unset
  .feature__image
    height: 276px
  .feature__text
    text-align: center
    max-width: 100%
    >h6
      max-width: 100%


