{{#> tool-glasses/index}}
    <div class="tool-glasses__chat">
        <div>
            {{#> glass-block/index borderRadius="20px 20px 8px 20px" animate="animate__fadeInRightShort" delay=".5s"}}
                <div class="tool-glasses__glass">
                    <img src="../../../images/icon-glasses-4.png" alt="">
                    <p>
                        Хэлло! Ты про тот, которого было выпущего 12 квадрил...
                    </p>
                    <span>Читать полностью</span>
                </div>
            {{/glass-block/index}}
        </div>
        <div>
            {{#> glass-block/index borderRadius="20px 20px 20px 8px" animate="animate__fadeInRightShort" delay=".4s"}}
                <div class="tool-glasses__glass">
                    <p>
                        Всем привет! А кто-нибудь слышал про новый токен гориллу?
                    </p>
                    <img src="../../../images/icon-glasses-5.png" alt="">
                </div>
            {{/glass-block/index}}
        </div>
    </div>
{{/tool-glasses/index}}
