{{#> tool-glasses/index}}
    <div class="tool-glasses__chat">
        <div>
            {{#> glass-block/index borderRadius="20px 20px 8px 20px" animate="animate__fadeInRightShort" delay=".5s"}}
                <div class="tool-glasses__glass">
                    <img src="../../../images/icon-glasses-4.png" alt="">
                    <p style="margin-top: 0">
                        Привет, я лично буду залетать, ведь это Fara Binancian, у которых будет доступен фарминг и ...
                    </p>
                    <span style="margin-top: 5px">Читать полностью</span>
                </div>
            {{/glass-block/index}}
        </div>
        <div>
            {{#> glass-block/index borderRadius="20px 20px 20px 8px" animate="animate__fadeInRightShort" delay=".4s"}}
                <div class="tool-glasses__glass">
                    <p>
                        Всем привет! А кто-нибудь слышал про новый сейл на binance? Есть смысл залетать?
                    </p>
                    <img src="../../../images/icon-glasses-5.png" alt="">
                </div>
            {{/glass-block/index}}
        </div>
    </div>
{{/tool-glasses/index}}
