<div class="ref-block">
    {{#> wrapper/index}}
        <div class="ref-block__content">
            {{> tag-block/index text="реферальная программа" }}
            {{> space/index height=25 }}
            {{#> big-text/index size="medium"}}
                Подарите другу 5$ кэшбека
                <br>
                и получайте 10% от его оплаты подписки.
            {{/big-text/index}}
            {{> space/index height=30 }}
            {{#> accent-text/index }}
                У каждого участника Crypton Academy есть свой реферальный код. Отправьте этот код своим друзьям, чтобы они ввели его при регистрации.
                На их счета будет зачислено по 5$ кэшбека.
                А вы будете постоянно получать 10% от каждой оплаченной ими подписки.
            {{/accent-text/index}}
        </div>
    {{/wrapper/index}}
    <div class="ref-block__image">
        {{#> wrapper/index}}
            <div class="ref-block__image-container">
                <img src="../../../images/ref-block.png" alt="" class="wow animate__fadeIn" data-wow-duration="1s">
            </div>
        {{/wrapper/index}}
    </div>
</div>
