<div class="ref-block">
    {{#> wrapper/index}}
        <div class="ref-block__content">
            {{> tag-block/index text="реферальная программа" }}
            {{> space/index height=25 }}
            {{#> big-text/index size="medium"}}
                Подарите другу скидку 5$
                <br>
                и получайте кэшбэк 10-20% от его оплаты подписки.
            {{/big-text/index}}
            {{> space/index height=30 }}
            {{#> accent-text/index }}
                У каждого участника Crypton Academy есть свой реферальный код. Отправьте этот код своим друзьям, чтобы они ввели его при оплате подписки. За это они мгновенно получат дополнительные 5$ скидки на любой тариф, а вы будете постоянно получать кэшбэк 10-20% от каждой оплаченной ими подписки.
            {{/accent-text/index}}
        </div>
    {{/wrapper/index}}
    <div class="ref-block__image">
        {{#> wrapper/index}}
            <div class="ref-block__image-container">
                <img src="../../../images/ref-block.png" alt="" class="wow animate__fadeInUpShort" data-wow-duration="1s">
            </div>
        {{/wrapper/index}}
    </div>
</div>
