<div class="ref-block">
    {{#> wrapper/index}}
        <div class="ref-block__content">
            {{> tag-block/index text="реферальная программа" }}
            {{> space/index height=25 }}
            {{#> big-text/index lineHeight="124%" }}
                Подарите другу 5$ кэшбека
                <br>
                и получайте 10% от его оплаты подписки.
            {{/big-text/index}}
            {{> space/index height=30 }}
            {{#> accent-text/index }}
                <span class="gray">
            У каждого участника Crypton Academy есть свой реферальный код. Отправьте этот код своим друзьям, чтобы они ввели его при регистрации.
            На их счета будет зачислено по 5$ кэшбека.
            А вы будете постоянно получать 10% от каждой оплаченной ими подписки.
        </span>
            {{/accent-text/index}}
        </div>
    {{/wrapper/index}}
    <div class="ref-block__image">
        <img src="../../../images/ref-block.png" alt="">
    </div>
</div>
