<div class="ref-block">
    {{#> wrapper/index}}
        <div class="ref-block__content">
            {{> tag-block/index text="реферальная программа" }}
            {{> space/index height=25 }}
            {{#> big-text/index size="medium"}}
                Подарите другу скидку 5$
                <br>
                и получайте кэшбэк 10-20% от его оплаты подписки.
            {{/big-text/index}}
            {{> space/index height=30 }}
            {{#> accent-text/index }}
                У каждого участника Crypton Academy есть свой реферальный код. Отправьте этот код своим друзьям, чтобы они ввели его при оплате подписки. За это они мгновенно получат дополнительные 5$ скидки на любой тариф, а вы будете постоянно получать рефбэк от каждой оплаченной ими подписки. Чем больше людей вы приводите, тем больше и уровень вашего рефбека, начните с 10% и достигните 20% , а также получайте уникальные NFT за приглашенных вами пользователей!
            {{/accent-text/index}}
        </div>
    {{/wrapper/index}}
    <div class="ref-block__image">
        {{#> wrapper/index}}
            <div class="ref-block__image-container">
                <img src="../../../images/ref-block.png" style="max-width: 1046px;" alt="" class="wow animate__fadeInUpShort" data-wow-duration="1s">
                <div class="ref-block__glass ref-block__glass_1">
                    {{#> glass-block/index animate="animate__fadeInUpShort" delay="0.2s"}}
                        <div class="ref-block__glass-content">
                            Привет, спасибо большое, но я уже и так в академии, жаль о промокоде не знал, когда покупал
                            <img src="../../../images/emoji-3.png" alt="">
                        </div>
                    {{/glass-block/index}}
                </div>
                <div class="ref-block__glass ref-block__glass_2">
                    {{#> glass-block/index animate="animate__fadeInUpShort" delay="0.2s"}}
                        <div class="ref-block__glass-content">
                            <img src="../../../images/emoji-4.png" alt="">
                            Привет, помнишь ты спрашивал откуда у меня уведомления и аналитика по крипте?
                            <br>
                            <br>
                            Лови ссылку <span style="display: inline">@CryptonLobbyBot</span> - это Crypton Academy, кстати, если введешь мой промокод "CRYPTON", то получишь скидку 5$ на любую подписку.
                        </div>
                    {{/glass-block/index}}
                </div>
            </div>
        {{/wrapper/index}}
    </div>
</div>
