.ref-block__image
  background: linear-gradient(180deg, #FFF 0%, #F7F7FA 100%)
  display: flex
  place-content: center

@media (max-width: $widthLaptopB)
  .ref-block__image-container
    >img
      width: 100%

@media (max-width: $widthMobileB)
  .ref-block__image-container
    display: flex
    place-content: center
    place-items: center
    >img
      width: 700px

@media (max-width: $widthMobileM)
  .ref-block__image-container
    >img
      width: 600px
