<div class="form {{#if inWindow}}form_in-window{{/if}}" id="form">
    <div {{#if inWindow}}{{else}}class="wow animate__fadeInRight" data-wow-duration="1s"{{/if}}>
        <div class="form__info">
            <h5>Оформите единую подписку.</h5>
            <p class="form__info-price">Всего за 49$ в месяц или 459$ в год.</p>
            <p class="form__info-accent">Цена подписки постоянно растёт. Продлевайте подписку вовремя, чтобы сохранить первоначальную стоимость.</p>
            <p class="form__info-instruction-title">инструкция — всё просто:</p>
            <p class="form__info-instruction">
                1. Откройте Telegram-бот <a class="link" href="https://t.me/CryptonLobbyBot">https://t.me/CryptonLobbyBot</a>
                <br>
                2. Следуйте указаниям бота
            </p>
        </div>
        <div class="form__help">
            <form action="" name="help" method="get" autocomplete="on" class="form__help-block">
                <b>Вам нужна поддержка?</b>
                <label><input name="name" type="text" placeholder="Имя"></label>
                <label><input name="phone" type="tel" placeholder="Телефон"></label>
                <div class="form__help-button">
                    {{> main-button/index fullWidth=true text="Получить помощь" isSubmit=true notAnimate=inWindow}}
                </div>
            </form>
        </div>
    </div>
</div>
