<div class="achievement">
    <div class="achievement__img">
        <img src="{{img}}" alt="">
    </div>
    <div class="achievement__title">
        <p>{{title}}</p>
    </div>
    <div class="achievement__quantity">
        <b>{{quantity}}</b>
    </div>
</div>
