<div class="window-tool-block-glass">
    <div style="margin-right: {{mr}}px;margin-top: {{mt}}px;">
        {{#> glass-block/index borderRadius="20px 20px 20px 20px"}}
            <div class="window-tool-block-glass__content">
                {{{@partial-block}}}
            </div>
        {{/glass-block/index}}
    </div>
</div>
