.reviews
  margin: 130px 0 210px

.reviews__list
  margin-top: 88px
  .slick-slide
    >div
      height: 100%
      >div
        height: 100%

@media (max-width: $widthTabletL)
  .reviews
    margin-bottom: 150px
